.main1{
    display:flex;
    justify-content: space-around;
}
img{
    width:600px;
}
.list ol{
    display:flex;
    flex-direction: column;
}
li{
    margin-top: 40px;
    padding:20px;
}
li:hover{
    color:brown
}